# compiled
/dist
/build
/coverage

# deps
/node_modules

# env & secrets
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# IDE / OS
.idea
.vscode
.DS_Store
*.sw?

# Nest / TS
*.tsbuildinfo
